<div id="counter">
    <div class="a1"><b> © 2021 Vanessa. All rights reserved by</b> <span> <b>web_develop</b> </span></div>

    <a href="https://www.hitwebcounter.com" target="_blank">
        <img src="https://hitwebcounter.com/counter/counter.php?page=7916100&style=0025&nbdigits=5&type=page&initCount=0"
            title="Free Counter" Alt="web counter"></a>
</div>