<nav class="block-relative">
   <button class="flexbox" id="btnMenu" onclick="openMenu()">
      <i class="fa fa-bars"></i>
      <i class="fa fa-times"></i>
   </button>
   <div class="block-relative-home">
      <a class="flexbox" href="/"><i class="fa fa-2x fa-home"></i></a>

      <div class="block-relative-left">
         <!-- <a class="flexbox" href="#"><i class="fa fa-home"></i></a> -->
         <!-- </div> -->
         <!-- <div class="block-relative-left menu" id="thisMenu"> -->
         <a href="/about" class="flexbox btn-list">About Us</a>
         <a href="/who_we_are" class="flexbox btn-list">Who We Are</a>
         <a href="/what_we_do" class="flexbox btn-list">What We Do</a>
         <a href="/registration" class="flexbox btn-list">Registration</a>
         <a href="/contact" class="flexbox btn-list">Contact</a>
      </div>
   </div>
   <div class="block-relative-right">
      <button class="flexbox" id="btnSearch" onclick="openSearch()">
         <i class="fa  fa-2x fa-search"></i>
         <i class="fa fa-2x fa-times"></i>
      </button>
      <form class="search" id="thisSearch">
         <input type="text" placeholder="Search" />
      </form>
   </div>
</nav>
