<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/web_develop.css">
  <title>about</title>
</head>

<body>
  {{>navbar}}
   <h1>ABOUT US</h1>
  <div class="about">
    <div class="about1">
     
        <br>
        <br>
        Ever since its inception in 2008, UDAAN- A Youth Organization has been actively seeking to
        promote the importance of Life skills. Our team work to make Life skills simpler, cost-effective and
        easily
        available. Through its team, UDAAN- A Youth Organization is continuously working towards empowering
        young
        underprivileged students by providing them life skills program that promotes positive values, healthy
        habits,
        and education. UDAAN addresses a v
    </div>
    <div class="showpic"><img src="img/img2.jpg" id="image">
    </div>
  </div>
  {{!-- <div class="about">
    
      {{!-- <h2>ABOUT US</h1> --}}
       <div class="showpic"><img src="img/img2.jpg" id="image">
    </div>
    <div class="about1">
        <br>
        <br>
        Ever since its inception in 2008, UDAAN- A Youth Organization has been actively seeking to
        promote the importance of Life skills. Our team work to make Life skills simpler, cost-effective and
        easily
        available. Through its team, UDAAN- A Youth Organization is continuously working towards empowering
        young
        underprivileged students by providing them life skills program that promotes positive values, healthy
        habits,
       

    </div>
   
  </div>
 --}}
  {{!-- {{>footer}} --}}
  <script>
    setInterval(
      function pic() {
        let image = document.getElementById('image');
        let images = ['img/img2.jpg', 'img/img5.jpg', 'img/img3.jpg', 'img/img4.jpg'];
        let random = Math.floor(Math.random() * 4);
        image.src = images[random];

      }
      , 3000);
  </script>
</body>

</html>