<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/web_develop.css">
    <link rel="stylesheet" href="css/registration.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>

<body>
    {{>navbar}}

    <form action="/contact" method="POST">
        <div class="container">
            <h1>Contact Us</h1>

            <hr>

            <label for="name"><b>Name</b></label>
            <input type="text" name="firstname" class="txt width1" placeholder="NAME*" required>
            <label for="phone"><b>Phone No.</b></label> <br>
            <input type="number" name="phone" class="txt width1" placeholder="NUMBER*" required> <br>
            <label for="email"><b>Email</b></label> <br>
            <input type="text" placeholder="Enter Email" class="width1" name="email" id="email" required>
            <label for="message"><b>MESSAGE</b></label> <br>
            <textarea name="message" class="txtbox width1" placeholder="WRITE MESSAGE*"></textarea>
            <hr>
            <button type="submit" class="registerbtn ">Send</button>

        </div>
        </div>


    </form>
    {{!-- {{>footer}} --}}
</body>

</html>